body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: grey;
}

h1 {
  margin-top: 0;
  color: white;
  font-size: 250%;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 0.8;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.0rem;
  font-weight: normal;
  color: grey;
  margin: 0;
  line-height: 3;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #EFD345;
}

hr {
  border-color: #BBBBBB;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 7%;
  margin: 70px auto 50px auto;
  opacity: .5
}

p {
  color: grey;
  margin: 0 100px 0 100px;
  line-height: 2;
}

ul {
  position: relative;
  display: inline-block;
  text-align: left;
}

li span {
  position: relative;
  display: block;
  left: 10px;
  text-align: left;
  line-height: 2;
}

li span span {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin: 0 20px 0 -10px;
}

.profilepic {
  position: relative;
  border-radius: 50%;
  display: block;
  margin: 0 auto 7px auto;
  width: 160px;
  height: 160px;
  opacity: .8;
}

.topintro {
  font-size: 1.1rem;
}

.topdiv {
  background-image: url("/images/yellowback.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 80%;
  width: auto;
  opacity: .9;
  background-color: #F7FDB1;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.topdiv p {
  color: white;
  opacity: 1;
  position: relative;
  margin: 200px auto 0 auto;

}

.midintro {
  font-size: 1.4rem;
  font-weight: normal;
  color: #EFD345;
}

.midpara1{
  text-indent: 5rem;
}

.midpara2{
  text-indent: 5rem;
}

.middlediv {
  background-color: #F7FDB1;
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
}

.bottomdiv {
  background-color: #DED473;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about {
  display: block;
}

.skills {
  display: block;
  margin: 0 70px 0 70px;
}

.brain {
  position: relative;
  display: block;
  opacity: .7;
  border-radius: 100%;
  margin: 0 auto 30px auto;
  width: 200px;
  height: 200px;
}

.recycle {
  position: relative;
  display: block;
  background-color: #AAAAAA;
  border-radius: 100%;
  margin: 20px 0 0 0;
  width: 150px;
  height: 150px;
  float: left;
}

.sustainabilityskills {
  margin: -160px 0 50px 160px;
}

.bulb {
  position: relative;
  display: block;
  border-radius: 100%;
  margin: 20px 0 0 160px;
  width: 150px;
  height: 150px;
  float: right;
}

.entrepreneurshipskills {
  margin: -160px 180px 50px 0;
}

.cloudpuff {
  position: relative;
  display: block;
  border-radius: 100%;
  margin: 20px auto 0 auto;
  width: 150px;
  height: 150px;
  float: left;
}

.designskills {
  margin: -160px 0 50px 180px;
}

.coding {
  position: relative;
  display: block;
  background-color: #AAAAAA;
  border-radius: 100%;
  margin: 20px 0 0 180px;
  width: 150px;
  height: 150px;
  float: right;
}

.technicalskills {
  margin: -160px 180px 50px 0;
}

.contactme {
  display: block;
}

.btn {
  background: #979797;
  background-image: -webkit-linear-gradient(top, #979797, #757575);
  background-image: -moz-linear-gradient(top, #979797, #757575);
  background-image: -ms-linear-gradient(top, #979797, #757575);
  background-image: -o-linear-gradient(top, #979797, #757575);
  background-image: linear-gradient(to bottom, #979797, #757575);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  opacity: .6;
}

.btn:hover {
  background: #DED473;
  background-image: -webkit-linear-gradient(top, #DED473, #FFD24C);
  background-image: -moz-linear-gradient(top, #DED473, #FFD24C);
  background-image: -ms-linear-gradient(top, #DED473, #FFD24C);
  background-image: -o-linear-gradient(top, #DED473, #FFD24C);
  background-image: linear-gradient(to bottom, #DED473, #FFD24C);
  text-decoration: none;
}

.footer-link {
  color: #D29D2B;
  line-height: 3;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 15px 0 10px;
}

.copyright {
  color: #FFFDE1;
  margin-top: 10px;
}
